@model ProScores.Models.ScoresPageViewModel
@{
    ViewBag.Title = "Pro Evo Scores";
}
<div class="container">
    <section>
        <h2>Add Result</h2>
        <p>
            <select id="drp-players-home">
                <option disabled selected>Select home player..</option>
                <option>Boo</option>
                <option>Boo</option>
                <option>Boo</option>
                <option>Boo</option>
            </select>
            <label></label>
            <select id="drp-players-away">
                <option disabled selected>Select away player..</option>
                <option>Boo</option>
                <option>Boo</option>
                <option>Boo</option>
                <option>Boo</option>                
            </select>
        </p>
        <p>
            <input type="text" id="txt-home-team" placeholder="home team"/>
            <label>VS</label>
            <input type="text" id="txt-away-team" placeholder="away team"/>
        </p>
        <p>
            <input type="text" id="txt-home-score" placeholder="home score" pattern="\d*" />
            <label></label>
            <input type="text" id="txt-away-score" placeholder="away score" pattern="\d*" />
        </p>
        <p>
            <input type="button" name="btn-add-result" value="Add Result">            
        </p>
    </section>

    <h2>Rankings</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Played</th>
            <th>Win</th>
            <th>Draw</th>
            <th>Loss</th>
            <th>GD</th>
            <th>Points</th>
        </tr>
        @foreach (var item in Model.Stats)
        {
            <tr>
                <td>@item.PlayerName</td>
                <td>@item.GamesPlayed</td>
                <td>@item.Wins</td>
                <td>@item.Draws</td>
                <td>@item.Losses</td>
                <td>@item.GoalDifference</td>
                <td>@item.TotalPoints</td>
            </tr>
        }
    </table>
    <h2>Results</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Fixture</th>
            <th>Score</th>
            <th>Comments</th>
        </tr>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.PlayerHome vs @item.PlayerAway</td>


                <td>@item.GoalsHome-@item.GoalsAway</td>
                <td style="text-align: left;">@item.Comments</td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("DeleteResult", "Home", new { id = Model.LastResultId }, FormMethod.Post))
    {
        <p><input type="button" name="submit" value="Delete Last Result">
        </p>
    }
</div>