@model ProScores.Models.ScoresPageViewModel
@{
    ViewBag.Title = "Pro Evo Scores";
}
<div class="container">
    @using (Html.BeginForm("AddResult", "Home", FormMethod.Post))
    {
        var playerListItems = new List<SelectListItem>();

        foreach (var player in Model.Players)
        {
            var item = new SelectListItem() { Text = player.DisplayName, Value = player.Name };
            playerListItems.Add(item);
        }

        <section>
            <h2>Add Result</h2>
            <p>
                @Html.DropDownListFor(o => o.NewResult.PlayerHome, playerListItems, "Select Player")
                <label></label>
                @Html.DropDownListFor(o => o.NewResult.PlayerAway, playerListItems, "Select Player")
            </p>
            <p>
                @Html.EditorFor(x => x.NewResult.TeamHome, new { htmlAttributes = new { placeholder = "home team" } })
                <label>VS</label>
                @Html.EditorFor(x => x.NewResult.TeamAway, new { htmlAttributes = new { placeholder = "away team" } })
            </p>
            <p>
                @Html.EditorFor(x => x.NewResult.GoalsHome, new { htmlAttributes = new { placeholder = "goals home", pattern = @"\d*" } })
                <label></label>
                @Html.EditorFor(x => x.NewResult.GoalsAway, new { htmlAttributes = new { placeholder = "goals away", pattern = @"\d*" } })
            </p>
            <p>
                @Html.EditorFor(o => o.NewResult.Comments, new { htmlAttributes = new { placeholder = "comments" } } )
            </p>
            <p>
                <input type="submit" name="btn-add-result" value="Add Result">
            </p>
        </section>
    }

    <h2>Rankings</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Played</th>
            <th>Win</th>
            <th>Draw</th>
            <th>Loss</th>
            <th>GD</th>
            <th>Points</th>
        </tr>
        @foreach (var item in Model.Stats)
        {
            <tr>
                <td>@item.PlayerName</td>
                <td>@item.GamesPlayed</td>
                <td>@item.Wins</td>
                <td>@item.Draws</td>
                <td>@item.Losses</td>
                <td>@item.GoalDifference</td>
                <td>@item.TotalPoints</td>
            </tr>
        }
    </table>
    <h2>Results</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Fixture</th>
            <th>Score</th>
            <th>Comments</th>
        </tr>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.PlayerHome (@item.TeamHome) vs @item.PlayerAway (@item.TeamAway)</td>
                <td>@item.GoalsHome-@item.GoalsAway</td>
                <td style="text-align: left;">@item.Comments</td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("DeleteResult", "Home", new { id = Model.LastResultId }, FormMethod.Post))
    {
        <p>
            <input type="submit" name="submit" value="Delete Last Result">
        </p>
    }
</div>