@using Raven.Abstractions.Data
@model ProScores.Models.ScoresPageViewModel
@{
    ViewBag.Title = "Pro Evo Scores";
}
<head>
    <link rel="stylesheet" href="..\..\Content\Site.css">
</head>
<div class="col-md-4">
    <h2>Add Result</h2>
    @using (Html.BeginForm("AddResult", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Home Player</td>
                <td>@Html.EditorFor(o => o.NewResult.PlayerHome)</td>
                <td>Goals</td>
                <td>@Html.EditorFor(o => o.NewResult.GoalsHome)</td>
                <td>Away Player</td>
                <td>@Html.EditorFor(o => o.NewResult.PlayerAway)</td>
                <td>Goals</td>
                <td>@Html.EditorFor(o => o.NewResult.GoalsAway)</td>
            </tr>
        </table>
        <input type="submit" name="submit" value="Add Result">
    }
    @using (Html.BeginForm("DeleteResult", "Home", new { id = Model.LastResultId }, FormMethod.Post))
    {
        <input type="submit" name="submit" value="Delete Last Result">
    }
    <h2>Rankings</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Played</th>
            <th>Win</th>
            <th>Draw</th>
            <th>Loss</th>
            <th>GD</th>
            <th>Points</th>
        </tr>
        @foreach (var item in Model.Stats)
        {
            <tr>
                <td>@item.PlayerName</td>
                <td>@item.GamesPlayed</td>
                <td>@item.Wins</td>
                <td>@item.Draws</td>
                <td>@item.Losses</td>
                <td>@item.GoalDifference</td>
                <td>@item.TotalPoints</td>
            </tr>
        }
    </table>
    <h2>Results</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Home Player</th>
            <th>Score</th>
            <th>Away Player</th>
        </tr>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td style="text-align:left">@item.Date.ToShortDateString()</td>
                <td style="text-align:right">@item.PlayerHome</td>
                <td style="text-align: center">@item.GoalsHome-@item.GoalsAway
                <td style="text-align:left">@item.PlayerAway</td>
            </tr>
        }
    </table>
</div>
